@page {
    margin-bottom: 5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 10%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    page-break-before: always;
    text-align: center
    }
.calibre2 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 10%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    page-break-before: always;
    text-align: center
    }
.calibre3 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre4 {
    display: block
    }
.calibre5 {
    font-style: italic
    }
.calibre6 {
    display: block;
    text-align: center
    }
.calibre7 {
    text-decoration: underline
    }
.calibre8 {
    border-bottom-color: currentColor;
    border-bottom-style: dotted;
    border-bottom-width: 1px
    }
.calibre9 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.svg_outer {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }

